# Python
__pycache__/
*.py[cod]
*.pkl
*.npy
*.csv
*.log

# Environment
.env
rag_env/
venv/

# Node.js
node_modules/
.next/

# Models & Embeddings
backend/cc.en.300.bin
backend/app/models/cc.en.300.bin
backend/app/models/audioModel/

# System
.DS_Store
**/.DS_Store

# VSCode
.vscode/

# Others
*.swp
*.bak
*.tmp

# Git LFS
*.fst filter=lfs diff=lfs merge=lfs -text
*.mdl filter=lfs diff=lfs merge=lfs -text
